
body {
    --color1: rgba(246, 244, 210, 1);
    --color2:rgba(164, 74, 63, 1);
    --color3: rgba(203, 223, 189, 1);
    --color4: rgba(241, 156, 121, 1);
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color4);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
    font-size: xx-large;
    font-weight: 900;
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    height: 300px;
    width: 400px;
    border-radius: 10px;
}

header img {
    height: var(--header-height);
}

content {
    width: 80%;
}

p {
    margin: 10px;
    margin-left: 40px;
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

#options-pics {
    height: 150px;
    width: 150px;
}

#instructions {
    justify-content: left;
}

input {
    display: none;
}

input:checked + img {
    border: solid 5px red;
}

/* #options {
    justify-items: space-between;
} */